<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src='assets/icon/house.svg'></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src='assets/icon/placeholder-for-map.svg'></ion-icon>
      <ion-label>Places</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/shopping-basket.svg"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="assets/icon/theater-masks.svg"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>