<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Visit Chios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/imgs/mainpic.png" alt="" />
    <ion-card-header>
      <ion-card-title color="dark">Welcome to Chios!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aliquip dolor proident irure fugiat officia elit cupidatat in ea. Anim officia esse qui sit
        cupidatat non proident magna.</p>
    </ion-card-content>
  </ion-card>
  <div class="social">
    <h3 class="ion-margin">Sign In to enrich your tour</h3>
    <ion-item class="facebook-login ion-margin">
      <ion-icon name="logo-facebook" slot="start" color="light"></ion-icon>
      <ion-text color="light">
        <ion-label>
          Sign in with Facebook
        </ion-label>
      </ion-text>
    </ion-item>
    <ion-item class="google-login ion-margin">
      <ion-icon name="logo-google" slot="start" color="light"></ion-icon>
      <ion-text color="light">
        <ion-label>
          Sign in with Google
        </ion-label>
      </ion-text>
    </ion-item>
  </div>
</ion-content>