// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #A62424;
  --ion-color-primary-rgb: 166,36,36;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #922020;
  --ion-color-primary-tint: #af3a3a;

  --ion-color-secondary: #F2BE22;
  --ion-color-secondary-rgb: 242,190,34;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d5a71e;
  --ion-color-secondary-tint: #f3c538;

  --ion-color-tertiary: #148C60;
  --ion-color-tertiary-rgb: 20,140,96;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #127b54;
  --ion-color-tertiary-tint: #2c9870;

  --ion-color-success: #F2DAAC;
  --ion-color-success-rgb: 242,218,172;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #d5c097;
  --ion-color-success-tint: #f3deb4;

  --ion-color-warning: #F27127;
  --ion-color-warning-rgb: 242,113,39;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d56322;
  --ion-color-warning-tint: #f37f3d;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1d2824;
  --ion-color-dark-rgb: 29,40,36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1a2320;
  --ion-color-dark-tint: #343e3a;

  --ion-color-medium: #657a72;
  --ion-color-medium-rgb: 101,122,114;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #596b64;
  --ion-color-medium-tint: #748780;

  --ion-color-light: #e1f7ef;
  --ion-color-light-rgb: 225,247,239;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c6d9d2;
  --ion-color-light-tint: #e4f8f1;
}