.header {
    font-size: 1.5rem;
}

img {
    max-height: 35vh;
    border-radius: 5px;
    margin: 5px;
}

span {
    font-weight: 700;
}

p { 
    font-size: 1.2rem
}

.review-div {
    border-bottom: 1px solid #A62424;
    margin-top: 15px;
}

ion-card-header {
    padding: 0;
}

ion-avatar {
    margin: auto;
}